@model AcademyHomework2.Models.Post

@{
    ViewData["Title"] = "GetPost";
    var user = ViewBag.User;
    Dictionary<int, User> GetUserByCommentIdDict = ViewBag.GetUserByCommentIdDict;
}

<div class="container infoContainer">
    <div class="row">
        <div class="col-md-3">
            <div id="PostTitle">
                User: <a asp-action="GetUser"
                   asp-route-id="@user.Id">@user.Name</a>
            </div>
            <div id="titleLable">Title: </div>
            <div id="postName">@Model.Title</div>
        </div>
        <div class="col-md-9">
            <div id="bodyLabel">Body: </div>
            <div id="postBody">@Model.Body</div>
            <span class="date">@Model.CreatedAt</span>
            <span class="likes">Likes: @Model.Likes</span>
        </div>
    </div>
        <div class="row buttonsContainer">
            <div class="col-md-6">
                <button class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" data-target="#showComments" >Comments</button>
                <div id="showComments" class="collapse">
                    @if (Model.Comments.Count == 0)
                    {
                        <div>This post hasn't comments</div>
                    }
                    else
                    {
                    <ul>
                        @foreach (var comment in Model.Comments)
                        {
                        <li>
                            <div id="comentAuthor">
                                Author:
                                <a asp-action="GetUser"
                                   asp-route-id="@GetUserByCommentIdDict[comment.Id].Id">@GetUserByCommentIdDict[comment.Id].Name</a>
                            </div>
                            <div id="commentBody">
                                @comment.Body
                            </div>
                            <span class="date">@comment.CreatedAt</span>
                            <span class="likes">Likes: @comment.Likes</span>
                        </li>
                        }
                    </ul>
                    }
                </div>
            </div>
        </div>
</div>


