@model Nullable<ValueTuple<Post, Comment, Comment, int?>>

@{
    ViewData["Title"] = "Task5Result";
}

<h2>Task 6 Result</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Post
            </th>
            <th>
                The longest comment
            </th>
            <th>
                The likest comment
            </th>
            <th>
                Number of comments under post where 0 likes or lengths > 80
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a asp-controller= "post"
                   asp-action="getpost"
                   asp-route-id="@Model.Value.Item1.Id">@Html.DisplayFor(modelItem => @Model.Value.Item1.Title)</a>
            </td>
            <td>
                <span>@Model.Value.Item2?.Body</span>
            </td>
            <td>
                <span>@Model.Value.Item3?.Body</span>
            </td>
            <td>
                @Html.DisplayFor(Model => Model.Value.Item4)
            </td>
        </tr>
    </tbody>
</table>
